@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("background.jpg");
  margin: 0;
}

.title {
  font-size: larger;
  display: flex;
  align-items: center;
  font-size: 30px;
  -webkit-text-stroke: 2px rgb(218, 100, 4);
  color: #ffffff00;
  align-self: flex-start;
}

.image {
  width: 100px;
  margin: 15px;
  margin-bottom: 0;
  border-radius: 50%;
  border: 2px solid rgb(218, 100, 4);
}

.buttons {
  display: flex;
  width: 530px;
  height: 400px;
}

button {
  display: flex;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  box-sizing: border-box;
  border-radius: 50%;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 383px;
  margin-top: 5px;
  margin-left: 10px;
  align-items: center;
  justify-items: center;
  justify-content: flex-start;
}

.numberbutton {
  margin: 0px 12px;
  background-color: black;
  color: aliceblue;
  border: 2px solid rgb(0, 0, 0);
}

.operators {
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 380px;
  margin-right: -385px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.operatbutton {
  display: flex;
  background-color: rgb(255, 136, 0);
  align-self: flex-end;
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin: 15px 15px;
}

#deletebutton {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  border-radius: 10px;
  background-color: rgb(3, 78, 255);
  width: 160px;
  padding-bottom: 6px;
}

.calculatorbody {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  background-color: rgba(219, 219, 219, 0.819);
  border: 2px solid rgb(0, 0, 0);
  height: 580px;
  width: 510px;
  border-radius: 30px;
}

#equalbutton {
  display: flex;
  border-radius: 10px;
  width: 160px;
  height: 75px;
  margin-top: 17px;
  background-color: rgb(0, 148, 0);
}

#deleteallbutton {
  border-radius: 10px;
  background-color: rgb(255, 15, 15);
  margin-bottom: -9px;
}
.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: flex-start;
  align-self: center;
  background-color: rgb(255, 255, 255);
  width: 96%;
  height: 120px;
  border-radius: 30px;
  margin: 20px;
  border: 2px solid black;
  box-sizing: border-box;
}

.textbox {
  font-size: 23px;
  font-family: "Exo", sans-serif;
  height: 25px;
  margin-bottom: -40px;
  margin-left: 20px;
}

.resultbox {
  align-self: center;
  text-align: end;
  font-size: 50px;
  font-family: "Exo", sans-serif;
  margin-bottom: 0;
  margin-right: 5px;
  flex-wrap: wrap;
  width: 450px;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: center;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.numberbutton:hover {
  background-color: white;
  color: black;
}

#deleteallbutton:hover {
  background-color: white;
  color: red;
}

.operatbutton:hover {
  background-color: #fedd26;
}

#equalbutton:hover {
  background-color: rgb(115, 255, 0);
}

#deletebutton:hover {
  background-color: rgb(0, 162, 255);
}
